#container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  background-color: black;
  padding: 5px;
}

.content {
  background-color: rgba(0, 217, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;

}

.pintar{
  background-color: rgb(111, 0, 255);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  

}